{% extends "WindowsAzureTaskDemoBundle::layout.html.twig" %}

{% block content %}
    <p>There are <strong>{{ tasks|length }}</strong> tasks due.</p>

    <p>
        <a href="{{ path('task_new') }}">Create Task</a>
        <a href="{{ path('azure_logout') }}">Logout</a>
    </p>

    <table>
{% for task in tasks %}
        <tr>
            <td>{{ task.subject }}</td>
            <td>{% if task.type %}{{ task.type.label }}{% else %}-/-{% endif %}</td>
            <td>{% if task.dueDate %}{{ task.dueDate|date('m/d/y') }}{% else %}-{% endif %}</td>
            <td><form method="post" action="{{ path('task_delete', {'id': task.id}) }}"><input type="hidden" name="_method" value="DELETE" /><input type="submit" value="Delete" /></form></td>
{% endfor %}
    </table>
{% endblock %}
